screens/__pycache__/manual.cpython-313.pyc
screens/__pycache__/inventario.cpython-313.pyc
screens/__pycache__/main_screen.cpython-313.pyc
screens/__pycache__/inventario.cpython-313.pyc
core/__pycache__/theme.cpython-313.pyc
screens/__pycache__/reportes.cpython-313.pyc
screens/__pycache__/reportes.cpython-313.pyc
screens/__pycache__/inventario.cpython-313.pyc
screens/__pycache__/inventario.cpython-313.pyc
screens/__pycache__/main_screen.cpython-313.pyc
core/__pycache__/database.cpython-313.pyc